@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html{
    font-family: 'Josefin Sans', sans-serif;
}


.btn-menu-h{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1030;
    border-radius: 20px;
    height: 60px;
    width: 60px;
    background-color: #0353A4 ;
    visibility: 10%;
    border: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-menu-h:hover {
    background-color: #0353A4;
}

.bi-list{
    font-size: 30px !important;
}

.offcanvas-start{
    background-color: #0353A4!important;
    color: #fff;
    box-shadow: 5px 0 4px 0 #0000001e;
}

.offcanvas-start img{
    width: 100px;
    border-radius: 20px;
}

.btn-menu{
    border-radius: 20px;
    height: 72px;
    background-color: #02478d9f ;
    visibility: 10%;
    border: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-menu:hover{
    background-color: #02478d;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

.icon-config{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.title-dashboards{
    margin-top: 30px;
}

.title-dashboards h1 {
    color: #000;
    font-weight: bolder;
    margin-bottom: 0;
}

.title-dashboards p {
    font-weight: bold;
    color: #0000007e;
    margin: 0   ;
}

.content-area {
  width: 1287px; 
  margin: 0 auto; 
}

.container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    background-color: #0353a41a;
    height: 340px;
    width: 1287px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #00000038;
}

.card-insight {
    margin: 40px !important;
    height: 250px;
    border: none;
}

.card-body {
    border: none;
    border-radius: 10px;
    background-color: #b9d6f2b4;
    box-shadow: 2px 2px 4px #00000038;
}

.card-title-icon i {
    position: absolute;
    right: 30px;
}

.card-value {
    margin-top: 40px !important;
    margin-bottom: auto !important;
    align-items: center !important;
    font-weight: bolder;
    margin: 0;
}

.card-value-rec {
    color: #27863E;
}

.card-value-desp {
    color: #EE2C2C;
}

.card-text-default {
    color: #0000006c;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.card-text-information {
    color: #27863E;
    font-weight: bold;
}

.btn-card-dashboard {
    background-color: #006DAA;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 50px;
    left: 50px;
}

.btn-card-dashboard:hover {
    background-color: #006caace;
    border: none;
}